@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  min-height: 100vh;
}

@layer components {
  .btn {
    @apply font-semibold tracking-[0.06em];
  }
}
